venv
.vscode
.DS_Store
__pycache__
.pytest_cache
.env
forum-backup.html

**/static/images/profile_pictures/*
!**/static/images/profile_pictures/default.jpg

**/static/images/pet_pictures/*
!**/static/images/pet_pictures/default.jpg
