{% extends '_layout.html' %}

<!-- Set title to be user's name -->
{% set title = "NOTXeno's Profile" %}
{% set active_page = 'user_profile' %}

{% block body %}

<!-- HACK: Used min-height style to stretch paws background -->
<section class="h-200 background-paws" style="min-height: calc(100vh - 134px);">
    <div class="container py-3 h-100">
      <div class="row py-1 px-2">
        <div class="col-md-8 mx-auto">
          <!-- Profile widget -->
          <div
            class="bg-white shadow rounded overflow-hidden border border-6 border-info"
          >
            <!-- Profile Head -->
            <div class="px-4 pt-4 pb-2 cover">
              <div class="profile-head d-flex align-items-end">
                <div class="me-3">
                  <img
                    src="{{profile_picture}}"
                    width="130"
                    class="rounded img-thumbnail"
                  />
                </div>
                <div class="text-white me-3 mb-4">
                  <h4 class="mb-0">NOTXeno</h4>
                  <small>
                    <i class="fas fa-map-marker-alt me-2"></i>North Carolina
                  </small>
                </div>
                <div class="mb-4">
                  <a
                    href="{{ url_for('profile_router.profile_user_edit') }}"
                    class="btn btn-light hover-gray btn-outline-dark btn-sm"
                    >Edit profile</a
                  >
                </div>
              </div>
            </div>
            <!-- Profile Statistics -->
            <div
              class="bg-dark profile-gray p-4 d-flex justify-content-end text-center"
            >
            </div>
            <div class="px-4 py-3">
              <h5 class="mb-0">About</h5>
              <div class="p-4 rounded shadow-sm bg-dark profile-gray">
                <p class="font-italic mb-0">NOT a Black Cat</p>
                <p class="font-italic mb-0">DOESN'T Lives in North Carolina</p>
                <p class="font-italic mb-0">Super Professional Sleeper</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
