{% extends '_layout.html' %}
{% block title %}Homepage{% endblock %}
{% set active_page = 'index' %}

{% block body %}
  <div class="jumbotron background-paws pt-5 pb-5">
            <div class="container bg-white border border-6 border-info rounded text-center">
                <img class="rounded-circle z-depth-2 border border-info border-6 m-4" height="250" alt="100x100" src="/static/images/Logo-2.jpg">
      <h1 class="display-3 mt-3">Welcome to Pet Pals!</h1>
      <h2 class="m-4">Find a new Pal for your Pet!</h2>
                <p><a class="btn btn-info btn-lg" href='/faq' role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container mt-5">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Forum</h2>
                    <p> Who doesn't love sharing stuff about their pets? </p>
                    <p> Visit our forum to view user posts.</p>
        <p>You might even find a new best friend in your area!</p>
      </div>
      <div class="col-md-4">
        <h2>Our Story</h2>
                    <p> We started Pet Pals as group project for our Software Engineering class. </p>
                    <p> To learn more about our story or how Pet Pals works, please click the link below.</p>
      </div>
      <div class="col-md-4">
        <h2>FAQs</h2>
                    <p> Of course you have questions.</p>
                    <p> We have answers!</p>
                    <p> Click the link below to view answers to our most frequently asked questions.</p>
                    
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
                    <p><a class="btn btn-secondary" href='/forum' role="button">View details &raquo;</a></p>
      </div>

      <div class="col-md-4">
                    <p><a class="btn btn-secondary" href='/about' role="button">View details &raquo;</a></p>
      </div>

      <div class="col-md-4">
                    <p><a class="btn btn-secondary" href='/faq' role="button">View details &raquo;</a></p>
      </div>
    </div>
  </div>
  <!-- /container -->
{% endblock %}

