/* paw print background */

.background-paws {
  background-image: url("images/paw-print-bg.jpeg");
}


/* override bootstrap borders */

.border-6 {
  border-width: 6px !important;
}

.border-3 {
  border-width: 3px !important;
}



/* Start of Profile Page CSS */

.profile-head {
  transform: translateY(1.5rem)
}

div.profile-gray {
  --mdb-bg-opacity: 0.20;
}

.btn-light.hover-gray:hover {
  background-color: lightgray !important;
}

a.hover-blue:hover {
  color: dodgerblue !important;
}

.cover {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

/* end Profile Page CSS */


/* Start Forum Page CSS*/

.forum-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.forum-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.forum-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.forum-wrapper {
  position: relative;
  height: calc(75vh - 3.5rem);
  transition: transform 0.3s;
}

.forum-main,
.forum-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.forum-sidebar {
  left: 0;
  width: 235px;
  border-right: 1px solid #cbd5e0;
  background-color: #fff;
  z-index: 1;
}

.forum-main {
  right: 0;
  left: 235px;
}

.forum-main-footer,
.forum-main-header,
.forum-sidebar-footer,
.forum-sidebar-header {
  height: 3.5rem;
  border-bottom: 1px solid #cbd5e0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-shrink: 0;
}

.forum-main-body,
.forum-sidebar-body {
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
}

.forum-main-body .sticky-top,
.forum-sidebar-body .sticky-top {
  z-index: 999;
}

.forum-main-footer,
.forum-main-header {
  background-color: #fff;
}

.forum-main-footer,
.forum-sidebar-footer {
  border-top: 1px solid #cbd5e0;
  border-bottom: 0;
  height: auto;
  min-height: 3.5rem;
}

@media (max-width: 767.98px) {
  .forum-sidebar {
      left: -235px;
  }
  .forum-main {
      left: 0;
  }
  .forum-expand .main-body {
      overflow: hidden;
  }
  .forum-expand .forum-wrapper {
      transform: translate3d(235px, 0, 0);
  }
}

/* end Forum Page CSS */

.new_message {
  background-color: white;
  text-align: center;
  resize: none;
}

.new_message_content {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3%;
}

.new_message_textbox_container {
  padding: 5%;
}

.conversation-container {
  height: 80%;
}

.message-container {
  overflow: scroll;
  height: 98%;
  width: 100%;
}

.message-sender {
  width: 100%;
  height: 20%;
  display: flex;
}

.message {
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 80%;
  margin: 10px;
}

.sender {
  float: left;
}

.recipient {
  float: right;
  text-align: right;
}

#sender-name {
  color: #39c0ed;
}

#recipient-name {
  color: #f07178;
}

#time {
  font-size: small;
}

.message-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.message-card-body {
  flex: auto;
  min-height: 1px;
  padding: 1rem;
}

.message-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.message-main {
  right: 0;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.conversation-header-container {
  height: 5%;
  text-align: center;
  font-size: 4vw;
}
.conversation-header {
  font-size: 3vh;
}

.list-group {
  max-height: 75%;
  overflow-y: scroll;
  position: absolute;
  z-index: 0;
  margin: auto;
  width: 50%;
}

.user-search {
  margin: auto;
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10%;
}

.list-search {
  border: 3px solid #39c0ed;
  text-align: center;
}

.list-group-item {
  font-weight: bolder;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #f07178;
  color: white;
}

.search-username-header {
  padding-top: 3%;
}

.no-message-cards {
  text-align: center;
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url("/static/images/logo/grid.jpg");
  background-size: cover;
}

.card-img-left-login {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url("/static/images/logo/kitten.jpeg");
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}