{% extends '_layout.html' %}
{% block title %}Login{% endblock %}
{% set active_page = 'login' %}

{% block body %}

<section>
  <div>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto bg-info rounded-4">
          <div class="card flex-row my-3 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left-login d-none d-md-flex border border-white border-6">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">

              <div class="text-center mb-3 mt-2">
                <img src="/static/images/logo/logoBlue.png" alt="Pet Pals" class="mb-1" width="400" />
              </div>

              <hr class="my-3">

              <h3 class="card-title text-center">Login</h3>

              <!-- <form> -->
              <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}

                <hr class="my-3">

                <div class="form-outline mt-5 mb-5">
                  {% if form.email.errors %}
                  {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span class="">{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.email(class="form-control") }}
                  {% endif %}
                  {{ form.email.label(class="form-label") }}
                </div>

                <div class="form-outline mb-5">
                  {% if form.password.errors %}
                  {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else "")) }}
                  <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.password(class="form-control") }}
                  {% endif %}
                  {{ form.password.label(class="form-label") }}
                </div>

                <div class="form-check">
                  {{ form.remember(class="form-check-input") }}
                  {{ form.remember.label(class="form-check-label") }}
                </div>

                <div class="text-center pt-1 mb-0 pb-0">
                  {{ form.submit(class="btn btn-info btn-block mb-3") }}
                </div>

                <a class="d-block text-center mt-2 small" href="{{ url_for('auth_router.signup') }}">Need an Account?
                  Sign Up</a>

                <a class="d-block text-center mt-2 small" href="{{ url_for('auth_router.reset_password_router.reset_request') }}">Forgot Password?</a>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  document.querySelectorAll(".form-outline").forEach((formOutline) => {
    new mdb.Input(formOutline).init();
  });
</script>

{% endblock %}