{% extends "_layout.html" %}
{% set title = 'Edit Profile' %}
{% set active_page = 'edit_profile' %}
{% block body %}

<section>
    <div class="container py-5 h-100">
        <div class="card rounded-3 text-black border border-info border-6">
            <div class="card-body p-md-5 mx-md-4">
                <form method="POST" action="" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <h2 class="text-center m-5">Change Password</h2>

                    <div class="form-outline mb-5">
                        <!--If error occurs, print errors-->
                        {% if form.email.errors %}
                            {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                        {{ form.email.label(class="form-label") }}
                    </div>
                    <div class="form-outline mb-5">
                        <!--If error occurs, print errors-->
                        {% if form.password.errors %}
                            {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else "")) }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                        {{ form.password.label(class="form-label") }}
                    </div>
                    <div class="form-outline mb-5">
                        <!--If error occurs, print errors-->
                        {% if form.new_password.errors %}
                            {{ form.new_password(class="form-control" + (" is-invalid" if form.new_password.errors else "")) }}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.new_password(class="form-control") }}
                        {% endif %}
                        {{ form.new_password.label(class="form-label") }}
                    </div>
                    <div class="form-outline mb-5">
                        <!--If error occurs, print errors-->
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control" + (" is-invalid" if form.confirm_password.errors else "")) }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span class="">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                        {{ form.confirm_password.label(class="form-label") }}
                    </div>
                    <div class="text-center pt-1 mb-0 pb-0">
                        {{ form.submit(class="btn btn-info btn-block mb-3") }}
                    </div>  
                </form>
            </div>
        </div>
    </div>
</section>

<script>document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });</script>
{% endblock body %}}