{% extends '_layout.html' %}
{% block title %}{{ pet.name }}'s Profile{% endblock %}
{% set active_page = 'pet_profile' %}

{% block body %}

<!-- HACK: Used min-height style to stretch paws background -->
<section>
  <div class="container py-3 h-100">
    <div class="row py-1 px-2">
      <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden border border-6 border-info">
          <!-- Profile Head -->
          <div class="px-4 pt-4 pb-2 cover">
            <div class="profile-head d-flex align-items-end">
              <div class="me-3">
                <img src="{{pet.image_path}}" width="130" class="rounded img-thumbnail" />
              </div>
              <div class="text-white me-3 mb-2">
                <h4 class="mb-0">{{ pet.name }}</h4>
                <p class="mb-0">
                  <a href="{{ url_for('profile_router.profile_user', username=pet.owner.username) }}"
                    class="text-muted hover-blue text-decoration-underline">{{ pet.owner.fullname }}'s Pet</a>
                </p>
                {% if current_user.is_authenticated and current_user == pet.owner %}
                <div class="mb-4">
                  <a href="{{ url_for('profile_router.profile_pet_edit', username=pet.owner.username, pet_name=pet.name) }}"
                    class="btn btn-light hover-gray btn-outline-dark btn-sm">Edit profile</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- Profile Statistics -->
          <div class="bg-dark profile-gray p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">3</h5>
                <small class="text-muted">
                  <i class="fas fa-image me-2"></i>Photos</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">0</h5>
                <small class="text-muted">
                  <i class="fas fa-user me-2"></i>Followers</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">0</h5>
                <small class="text-muted">
                  <i class="fas fa-user me-2"></i>Following</small>
              </li>
            </ul>
          </div>
          <div class="px-4 py-3">
            <h5 class="mb-0">About</h5>
            <div class="p-4 rounded shadow-sm bg-dark profile-gray">
              {% if pet.biography %}
              {% for line in pet.biography.splitlines() %}
              <p class="mb-0">{{ line }}</p>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="py-4 px-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h5 class="mb-0">Recent photos</h5>
              <a href="#" class="btn btn-link text-muted">Show all</a>
            </div>
            <div class="row">
              {% for image in pet.recent_photo_paths %}
              <div class="col-md-4 mb-2 pr-lg-1">
                <img src="{{image}}" onclick="window.open(this.src, '_blank');" class="img-fluid rounded hover-shadow"
                  style="cursor:pointer" />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}