{% extends '_layout.html' %}
{% block title %}{{ user.fullname }}'s Profile{% endblock %}
{% set active_page = 'user_profile' %}

{% block body %}

<section>
  <div>
    <div class="row profile-margins mx-auto py-5">
      <div class="col-sm-1 mx-auto bg-info rounded-2 profile-margins">
        <div class="card flex-row my-3 mx-2 border-0 shadow rounded-3 overflow-hidden">
          <div class="profile-left d-md-flex bg-gray">
            <div class="row text-center my-auto">
              <div class="mb-1 bg-w p-3">
                <img class="border border-0 p-4" src="{{ user.image_path }}" width="300"
                  class="rounded img-thumbnail" />
                <h1 class="mt-2 text-white">{{ user.fullname }}</h1>
                {% if current_user.is_authenticated and current_user.username == user.username %}
                <div>
                  <a class="btn btn-warning btn-rounded btn-sm mb-3 text-white"
                    href="{{ url_for('profile_router.profile_user_edit') }}"
                    class="btn btn-light hover-gray btn-outline-dark btn-sm">Edit profile</a>
                  <a class="btn btn-warning btn-rounded btn-sm mb-3 text-white"
                    href="{{ url_for('profile_router.profile_pet_new') }}">Add More Pets</a>
                </div>
                {% endif %}
              </div>
              <div class="text-white my-5">
                {% if user.biography %}
                {% for line in user.biography.splitlines() %}
                <p class="mb-0">{{ line }}</p>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card-body p-2 p-sm-4">
            <div class="text-center mb-3 mt-2">
              <h1>My Pets</h1>
            </div>
            <hr class="my-3">
            <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
              <div class="carousel-inner">
                {% for pet in user.pets %}
                <div class="carousel-item {% if loop.index == 1 %} active{% endif %}">
                  <a href="{{ url_for('profile_router.profile_pet', username=pet.owner.username, pet_name=pet.name) }}">
                    <div class="card">
                      <img src="{{ pet.image_path }}" class="card-img-top" />
                      <div class="card-body">
                        <h5 class="card-title text-center">{{ pet.name }}</h5>
                      </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}