{% extends "_layout.html" %}
{% block body %}

<section class="background-paws p-3">

    <!-- Header -->
    <header class="mt-4">
        <div class="bg-info border-0 rounded-top text-center container pt-1 pb-1">
            <h1 class="fw-light text-white mt-2">Meet the Team</h1>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container border border-6 border-info rounded-bottom bg-white p-0 mt-0 ">
        <div>
            
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4 mr-5">
                <div class="card-flex bg-white border-0 rounded shadow text-center ml-0">
                    <img src="/static/images/CadenLalley.png" width="200"
                        class="rounded-circle z-depth-2 mt-2 p-2 bg-info">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Caden Lalley</h4>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4 mr-5">
                <div class="card-flex bg-white border-0 rounded shadow text-center ml-0">
                    <img src="/static/images/CodyLiske.png" width="200" class="rounded-circle z-depth-2 mt-2 p-2 bg-info">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Cody Liske</h4>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4 mr-5">
                <div class="card-flex bg-white border-0 rounded shadow text-center ml-0">
                    <img src="/static/images/EthanPinto.png" width="200" class="rounded-circle z-depth-2 mt-2 p-2 bg-info">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Ethan Pinto</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->

        <div class="row d-flex justify-content-center">

            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4 mr-5">
                <div class="card-flex bg-white border-0 rounded shadow text-center ml-0">
                    <img src="/static/images/JacobHarland.png" width="200"
                        class="rounded-circle z-depth-2 mt-2 p-2 bg-info">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Jacob Harland</h4>
                    </div>
                </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col-xl-3 col-md-6 mb-4 mr-5">
                <div class="card-flex bg-white border-0 rounded shadow text-center ml-0">
                    <img src="/static/images/RyanBraswell.png" width="200"
                        class="rounded-circle z-depth-2 mt-2 p-2 bg-info">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Ryan Braswell</h4>
                    </div>
                </div>
            </div>
            <!-- Team Member 6-->
            <div class="col-xl-3 col-md-6 mb-4 mr-5">
                <div class="card-flex bg-white border-0 rounded shadow text-center ml-0">
                    <img src="/static/images/WendyDushanin.png" width="200"
                        class="rounded-circle z-depth-2 mt-2 p-2 bg-info">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Wendy Dushanin</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mr-0 ml-0 p-0">
            <div class="container border-6 border-top border-info text-center pt-3 pr-0 pl-0 mr-0 ml-0 mt-4">
                <div class="container bg-white pb-3 pt-1">
                    <h2 class="mt-2 pt-2">Our Story</h2>
                    <p class="pl-5 pr-5"> We started Pet Pals as group project for our Software Engineering class at
                        The University of North Carolina at Charlotte.
                        Pet Pals demonstrates the skills we learned during the Spring 2022 semester. As an agile
                        software engineering team, we created Pet Pals to be a SaaS (Software as a Service) web
                        application. We
                        hope your
                        enjoy your visit! </p>
                    <h2 class="mt-2 pt-2">What is Pet Pals?</h2>
                    <p class="pl-5 pr-5"> Pet Pals is a forum-based application where users can create accounts,
                        user profiles, and create posts. Our vision is that our users will connect with other pet
                        owners to create lasting connections and friendships. Please visit our FAQs page for more
                        information.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</section>

{% endblock %}