{% extends '_layout.html' %}
{% set title = 'FAQ' %}
{% set active_page = 'faq' %}

{% block body %}
<section class="bg-white p-2">
  <!-- Page Title -->
  <div class="text-center bg-info text-white border border-white border-6 p-3">
    <h1>FAQs</h1>
  </div>

  <!-- Paws Background -->
  <section class="background-paws p-4">
    <!-- Content Container-->
    <div class="container bg-white border border-info border-6 rounded p-4">
      <h3 class="text-center mb-5">
        Find the answers for the most frequently asked questions below
      </h3>

      <!-- Questions -->
      <div class="row m-3">
        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">
            <i class="far fa-paper-plane text-primary pe-2"></i> A simple
            question?
          </h6>
          <p>
            <strong><u>Absolutely!</u></strong> We work with top payment
            companies which guarantees your safety and security. All billing
            information is stored on our payment processing partner.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">
            <i class="fas fa-pen-alt text-primary pe-2"></i> A question that is
            longer then the previous one?
          </h6>
          <p>
            <strong><u>Yes, it is possible!</u></strong> You can cancel your
            subscription anytime in your account. Once the subscription is
            cancelled, you will not be charged next month.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">
            <i class="fas fa-user text-primary pe-2"></i> A simple question?
          </h6>
          <p>
            Currently, we only offer monthly subscription. You can upgrade or
            cancel your monthly account at any time with no further obligation.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">
            <i class="fas fa-rocket text-primary pe-2"></i> A simple question?
          </h6>
          <p>
            Yes. Go to the billing section of your dashboard and update your
            payment information.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">
            <i class="fas fa-home text-primary pe-2"></i> A simple question?
          </h6>
          <p>
            <strong><u>Unfortunately no</u>.</strong> We do not issue full or
            partial refunds for any reason.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">
            <i class="fas fa-book-open text-primary pe-2"></i> Another question
            that is longer than usual
          </h6>
          <p>
            Of course! We're happy to offer a free plan to anyone who wants to
            try our service.
          </p>
        </div>
      </div>

      <!-- Contact Form -->
      <div class="container h-100">
        <div class="card shadow-2-strong rounded-3 text-black">
          <div class="card-body p-md-5 mx-md-4">
            <h2 class="text-center mb-2">Contact Us</h2>
            <p class="text-center">
              If you still have questions or wish to contact us for any reason,
              please submit the form below.
            </p>

            <form action="/faq" method="post">
              <div class="form-outline mb-4">
                <input
                  name="contact-name"
                  id="contact-name"
                  type="text"
                  class="form-control"
                />
                <label for="contact-name" class="form-label">Name</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  name="contact-email"
                  id="contact-email"
                  type="text"
                  class="form-control"
                />
                <label for="contact-email" class="form-label">Email</label>
              </div>

              <div class="form-outline mb-4">
                <textarea
                  name="contact-question"
                  id="contact-question"
                  class="form-control"
                  rows="3"
                ></textarea>
                <label for="contact-question" class="form-label"
                  >Question</label
                >
              </div>
              <div class="text-center">
                <button class="btn btn-info btn-block mb-0" type="button">
                  Submit
                </button>
              </div>
            </form>
            <script>
              document
                .querySelectorAll(".form-outline")
                .forEach((formOutline) => {
                  new mdb.Input(formOutline).init();
                });
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
