{% extends '_layout.html' %}
{% block title %}Forum{% endblock %}
{% set active_page = 'forum' %}

{% import 'forum_macros.html' as macros %}

{% block body %}

<section class="bg-white p-2">
  <div class="text-center bg-info text-white border border-white border-6 p-3">
    <h1>Forum</h1>
  </div>

  <section class="background-paws p-2">
    <div class="container bg-info p-2">
      <div class="forum-wrapper">
        <!-- Left Sidebar -->
        <div class="forum-sidebar">
          <!--Left Sidebar Button -->
          <div class="forum-sidebar-header justify-content-center">
            <a
              href="{{ url_for('forum_router.post_router.post_new') }}"
              class="btn btn-info has-icon btn-block"
              type="button"
            >
              New Post
            </a>
          </div>
          <!-- end Left Sidebar Button -->

          <!-- Left Sidebar Body -->
          <div class="forum-sidebar-body p-0">
            <div class="p-3 h-50">
              <form>
                {% if search %}
                  <input type="hidden" name="q" value="{{ search }}">
                {% endif %}
                <nav class="nav nav-pills nav-gap-y-1 flex-column">
                  {% for key, val in
                    {'newest': 'Newest', 'no_replies': 'No replies yet', 'most_viewed': 'Most viewed', 'most_replies': 'Most replies'}.items()
                  %}
                    <button
                      class="nav-link nav-link-faded{{ ' active' if key == sort_by else '' }}"
                      name="sort_by"
                      value="{{ key }}"
                    >
                      {{ val }}
                    </button>
                  {% endfor %}
                </nav>
              </form>
            </div>
          </div>
          <!-- end Left Sidebar Body -->
        </div>
        <!-- end Left Sidebar -->

        <!-- Main Section -->
        <div class="forum-main">
          <!-- Main Header -->
          <div class="forum-main-header">
            <a
              class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none"
              href="#"
            >
              <i class="fa-solid fa-angle-right"></i>
            </a>

            <span class="input-icon input-icon-sm ml-auto w-auto m-2">
              <form>
                <input
                  class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                  type="text"
                  name="q"
                  {% if search %} value="{{ search }}" {% endif %}
                  placeholder="Search Forum"
                />
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
              </form>
            </span>
          </div>
          <!--end Main Header-->

          <!-- Forum main body -->

          <!-- Forum List -->
          <div class="forum-main-body p-2 p-sm-3 collapse forum-content show">
            {% for post in posts.items %}
              {% set j_post_link = url_for('forum_router.post_router.post', post_id=post.post_id) %}
              <div
                class="forum-card mb-2"
                ondblclick="window.open('{{ j_post_link }}', '_blank');"
              >
                <div class="forum-card-body p-2 p-sm-3">
                  <div class="media forum-item">
                    {{ macros.post_header(post) }}
                    <div class="media-body ms-3 mt-2">
                      <h5>
                        <a
                          href="{{ j_post_link }}"
                          target="_blank"
                          data-toggle="collapse"
                          data-target=".forum-content"
                          class="text-body"
                        >
                          {{ post.title }}
                        </a>
                      </h5>
                      <hr />
                      {{ content_markup(post.content) }}
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                      <button
                        class="like btn btn-xs btn-outline-info text-muted me-3"
                        data-post-id={{ post.post_id }}
                      >
                        <i
                          class="{{ 'fa-solid' if current_user.is_authenticated and post.likes.filter_by(user_id=current_user.id).first().liked else 'fa-regular' }} fa-heart me-1"
                          style="color: crimson;"
                          aria-hidden="true"
                        ></i>
                        <span>{{ post.likes.filter_by(liked=True).all() | length }}</span>
                      </button>
                      <div class="text-muted small">
                        <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> {{ post.views }}</span>
                        <span><i class="far fa-comment ms-2"></i> {{ post.replies | length }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

            <!--Pagination-->
            <form>
              {% if search %}
                <input type="hidden" name="q" value="{{ search }}">
              {% endif %}
              <input type="hidden" name="sort_by" value="{{ sort_by }}">
              <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                  {% if page_num %}
                    {% if posts.page == page_num %}
                      <li class="page-item active">
                        <a class="page-link" href="#">{{ page_num }}</a>
                      </li>
                    {% else %}
                      <li class="page-item">
                        <button class="page-link" name="page" value="{{ page_num }}">{{ page_num }}</button>
                      </li>
                    {% endif %}
                  {% else %}
                    ...
                  {% endif %}
                {% endfor %}
              </ul>
            </form>
            <!--end Pagination-->
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<script src="/forum/post/static/js/liked.js"></script>

{% endblock %}
